
.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

/* Shared Style*/

i {
  padding: 10px;
}
.secondary-bg {
  background-color: #fff8f3;
}

.text-center {
  text-align: center;
}

.text-primary {
    color: #FD6E0A;
  }
.dark-2{
  color: #474747;
}

.btn-primary{
 background-color: #FD6E0A;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 18px 35px;
  border-radius: 10px;
  border: none;
}

/* Header*/
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  bac
}

/* Nav Style*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
 
}

nav ul li {
  list-style: none;
  padding: 15px;
  
  
}

nav ul a {
  text-decoration: none;
  color: #474747;
}



/* Banner Style*/


.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content {
  max-width: 580px;
}

.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

.banner-profile {
  width: 580px;
}

/* Main styles*/
main {
  max-width: 1140px;
  margin: 0 auto;
}



/* About */

.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;

}

.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.section-description {

}

.about-items {
  display: flex;
  justify-content: space-around;


}

.item-description {
  font-weight: 600;
}


/* skill section */
.skills-container {
  display: flex;
  gap: 24px;
}

.skill{
  padding: 32px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
  border-radius: 5px;
}

/* Resume Styles */


.resume-container {
  display: flex;
  gap: 24px;
}

.experience-sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
}

.experience-description {
  color: #757575;
}

.download-btn {
  margin-top:50px;
}


/* Footer Style */
footer {
  display: flex;
  gap: 100px;
  padding: 130px 230px;
}

.footer-column {
  width: 50%;
}

footer input[type= "text"], footer input[type= "email"],footer textarea{
  height: 64px;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  display: block;
  padding: 16px 24px;
  margin-bottom: 24px;
  border: none;

}